<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta name="description" content="{{ site.name }} - {{ site.description }}">

    <!-Bootstrap -->
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}/magazine.css" rel="stylesheet">
    <!-HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row cabezote">
        <div class="col-md-8"><small><a href="{{ site.url }}">← volver a portada</a></small></div>
        <div class="col-md-4">
        <h1>{{ site.name }}<br>
          <small>{{ site.description }}</small>
        </h1>
      </div>
      </div>
    </div>